@using ProjectLibrary.Config
@using Template_WatchShop.Areas.Administrator.Models
@model Template_WatchShop.Areas.Administrator.EntityModel.ESlide
@{
    Layout = "~/Areas/Administrator/Views/Templates/_LayoutPage.cshtml";
   
}
<style>
    #cke_Content {
        width: 435px !important;
    }
</style>
<div class="span12">
    <div class="widget ">
        <div class="widget-header">
            <i class=" icon-plus-sign"></i>
            <h3>@ViewBag.Title</h3>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            @Html.ValidationSummary(true)
            @using (Html.BeginForm("Update", "Slide", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.HiddenFor(a => a.ID)
                <div class="left-control">
                    <div class="control-group">
                        @Html.LabelFor(c => c.Title, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(c => c.Title, new { @class = "span4" })
                            @Html.ValidationMessageFor(c => c.Title)
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(c => c.Image, new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(c => c.Image, new { @class = "span4 inputbox upload" })
                            <p class="help-img">Nên chọn ảnh có kích thước @ConfigImage.InfoImageSlider</p>
                            @Html.ValidationMessageFor(c => c.Image)
                        </div>
                    </div>

                   
                    

                   

                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox inline">
                                <input data-val="true" id="Status" name="Status" type="checkbox" value="true" checked="checked"> Status
                            </label>
                        </div>
                    </div>


                    <div class="form-actions">
                        <input type="button" value="Submit" class="btn btn-primary" />
                        <a href="@Url.Action("Index","Slide")" class="btn">Cancel</a>
                    </div>
                </div>

               
            }
        </div>
    </div>
</div>

<script type="text/javascript">


    //lấy danh sách menu được chọn
    function MenuSelect() {
        var tempMenuSelect = "";
        $("input.checkMenu").each(function () {
            if ($(this).is(":checked")) {
                tempMenuSelect += $(this).val() + ",";
            }
        });
        $("#MenuIds").val(tempMenuSelect);
    }
    $(document).ready(function () {
        bindUl();
        CreateCkEditor();
        $(".btn-primary").click(function () {
            MenuSelect();
            $(".form-horizontal").submit();
        });

        if ($("input[name=ViewAll]").filter(':checked').val() == 'True') {
            $("#right-listMenu").hide();
        } else {
            $("#right-listMenu").show();
        }
        $("input[name=ViewAll]").change(function () {
            if ($(this).filter(':checked').val() == 'True') {
                $("#right-listMenu").hide();
            } else {
                $("#right-listMenu").show();
            }
        });
    });
</script>

<style>
    .form-actions {
        border: none;
        background: none;
    }
</style>

